VITE_AUTH0_DOMAIN= domain given by auth0 single page aplication
VITE_AUTH0_CLIENT_ID= client id given by auth0 single page aplication
VITE_AUTH0_AUDIENCE= custom api identifier

VITE_API_URL= backend base url